@using Umbraco.Cms.Core.Models;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<section class="__brands">
    <div class="container">
        @{
            var brandImages = Model.Value<IEnumerable<MediaWithCrops>>("brandImages");
            foreach (var image in brandImages)
            {
                <img src="@image.MediaUrl()" alt="">
            }
        }
    </div>
</section>