@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<!-- Footer -->
    <footer>        
        <img class="background-lines-right" src="/images/background/background-lines-white-right.svg" alt="">            
        <section class="__footer">
            <div class="container">
                <div class="__logo">
                    <img src="~/images/logos/logotype-white.svg" alt="">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat obcaecati voluptas voluptates! Voluptates laborum nam ratione minus necessitatibus, iure praesentium.</p>
                </div>
                <div class="__footerlinks">
                    <span>
                        <h5>Company</h5>
                        <ul>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Features</a></li>
                            <li><a href="#">Works</a></li>
                            <li><a href="#">Career</a></li>
                        </ul>
                    </span>
                    <span>
                        <h5>Help</h5>
                        <ul>
                            <li><a href="#">Customer Support</a></li>
                            <li><a href="#">Delivery Details</a></li>
                            <li><a href="#">Terms & Conditions</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                        </ul>
                    </span>
                    <span>
                        <h5>Resources</h5>
                        <ul>
                            <li><a href="#">Free eBooks</a></li>
                            <li><a href="#">Development Tutorial</a></li>
                            <li><a href="#">How to - Blog</a></li>
                            <li><a href="#">Youtube Playlist</a></li>
                        </ul>
                    </span>
                    <span>
                        <h5>Link</h5>
                        <ul>
                            <li><a href="#">Free eBooks</a></li>
                            <li><a href="#">Development Tutorial</a></li>
                            <li><a href="#">How to - Blog</a></li>
                            <li><a href="#">Youtube Playlist</a></li>
                        </ul>
                    </span>
                </div>
            </div>
        </section>

        <section class="__copyright">
            <div class="container">
                <p>© 2023 Crito - Consulting Company Inc. All Rights Reserved.</p>
                <div class="__social">
                    <a href="https://www.facebook.com" target="_blank"><i class="fa-brands fa-facebook"></i></a> 
                    <a href="https://www.twitter.com" target="_blank"><i class="fa-brands fa-square-x-twitter"></i></a> 
                    <a href="https://www.instagram.com" target="_blank"><i class="fa-brands fa-instagram"></i></a> 
                    <a href="https://www.linkedin.com" target="_blank"><i class="fa-brands fa-linkedin"></i></a> 
                </div>
            </div>
        </section>
    </footer>