@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<!-- Projects -->
<section class="projects">
    <div class="container">
        <div class="section-title">Why Choose Us</div> 
        <h2>Let's Looks Our Global Projects</h2> 
        <div class="project-grid">
            <div class="project-box">                    
                <a href="#"><img src="images/amy-hirschi-K0c8ko3e6AA-unsplash.jpg" alt="showcase image of a man with a tablet"></a>                    
                <div class="content">
                    <h3>Grow your business</h3>
                    <div class="__line"></div>
                    <a href=feature.html class="btn-blank"><span>Read More <i class="fa-solid fa-arrow-up-right"></i></span></a>
                </div>     
            </div> 
            <div class="project-box">                    
                <a href="#"><img src="images/amy-hirschi-K0c8ko3e6AA-unsplash.jpg" alt="showcase image of a man with a tablet"></a>                    
                <div class="content">
                    <h3>Why your client needs a responsive website</h3>
                    <div class="__line"></div>
                    <a href=feature.html class="btn-blank"><span>Read More <i class="fa-solid fa-arrow-up-right"></i></span></a>
                </div>     
            </div> 
            <div class="project-box">                    
                <a href="#"><img src="images/amy-hirschi-K0c8ko3e6AA-unsplash.jpg" alt="showcase image of a man with a tablet"></a>                    
                <div class="content">
                    <h3>Educate your employees to get better results</h3>
                    <div class="__line"></div>
                    <a href=feature.html class="btn-blank"><span>Read More <i class="fa-solid fa-arrow-up-right"></i></span></a>
                </div>     
            </div> 
            <div class="project-box">                    
                <a href="#"><img src="images/amy-hirschi-K0c8ko3e6AA-unsplash.jpg" alt="showcase image of a man with a tablet"></a>                    
                <div class="content">
                    <h3>Business Insights is a important piece of your business</h3>
                    <div class="__line"></div>
                    <a href=feature.html class="btn-blank"><span>Read More <i class="fa-solid fa-arrow-up-right"></i></span></a>
                </div>     
            </div> 
        </div> 
        <a href=feature.html class="btn-blank __black"><span>All Recent Projects <i class="fa-solid fa-arrow-up-right"></i></span></a>
    </div> 
</section>