@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<!-- MainReviews -->
<section class="mainreviews">
    <div class="container">
        <div class="section-title">Testimonial</div> 
        <h2>What Our Client Says</h2> 
        <div class="mainreview-flex">
            <div class="mainreview-box">                    
                <div class="rating"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></div> 
                <p>"Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium libero, ad dignissimos velit qui, dolorum obcaecati cum saepe nesciunt nemo eligendi numquam voluptate"</p>               
                <div class="author">
                    <img src="images/amy-hirschi-K0c8ko3e6AA-unsplash.jpg" alt="showcase image of a man with a tablet">                        
                    <div>
                        <h3>Cassandra Warren</h3>
                        <h4>Business Manager, Dorfus</h4>
                    </div>
                </div>     
            </div> 
            <div class="mainreview-box">                    
                <div class="rating"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></div> 
                <p>"Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium libero, ad dignissimos velit qui, dolorum obcaecati cum saepe nesciunt nemo eligendi numquam voluptate"</p>               
                <div class="author">
                    <img src="images/amy-hirschi-K0c8ko3e6AA-unsplash.jpg" alt="showcase image of a man with a tablet">                        
                    <div>
                        <h3>Cassandra Warren</h3>
                        <h4>Business Manager, Dorfus</h4>
                    </div>
                </div>     
            </div> 
            <div class="mainreview-box">                    
                <div class="rating"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></div> 
                <p>"Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium libero, ad dignissimos velit qui, dolorum obcaecati cum saepe nesciunt nemo eligendi numquam voluptate"</p>               
                <div class="author">
                    <img src="images/amy-hirschi-K0c8ko3e6AA-unsplash.jpg" alt="showcase image of a man with a tablet">                        
                    <div>
                        <h3>Cassandra Warren</h3>
                        <h4>Business Manager, Dorfus</h4>
                    </div>
                </div>     
            </div> 
        </div> 
        <a href=feature.html class="btn-blank __black"><span>All Reviews <i class="fa-solid fa-arrow-up-right"></i></span></a>
    </div> 
</section>