@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<!-- Team -->
<section class="team" >
    <div class="container">
        <div class="section-title">Meet Our Team</div>
        <div class="section-heading">                
            <h6>Experience Team Members</h6>
            <a href=feature.html class="btn-blank"><span>Browse Team <i class="fa-solid fa-arrow-up-right"></i></span></a>
        </div> 

        <div class="wrapper">
            <div class="innerteam">
                <div class="team_box">
                    <img src="images/amy-hirschi-K0c8ko3e6AA-unsplash.jpg" alt="showcase image of a man with a tablet">  
                    <div class="__details">
                        <h3>Kristine Palmer</h3> 
                        <h4>Chef Operation Officer</h4>
                    </div>     
                </div> 
                <div class="team_box">
                    <img src="images/amy-hirschi-K0c8ko3e6AA-unsplash.jpg" alt="showcase image of a man with a tablet">  
                    <div class="__details">
                        <h3>Kristine Palmer</h3> 
                        <h4>Chef Operation Officer</h4>
                    </div>     
                </div> 
                <div class="team_box">
                    <img src="images/amy-hirschi-K0c8ko3e6AA-unsplash.jpg" alt="showcase image of a man with a tablet">  
                    <div class="__details">
                        <h3>Kristine Palmer</h3> 
                        <h4>Chef Operation Officer</h4>
                    </div>     
                </div> 
                <div class="team_box">
                    <img src="images/amy-hirschi-K0c8ko3e6AA-unsplash.jpg" alt="showcase image of a man with a tablet">  
                    <div class="__details">
                        <h3>Kristine Palmer</h3> 
                        <h4>Chef Operation Officer</h4>
                    </div>     
                </div> 
                <div class="team_box">
                    <img src="images/amy-hirschi-K0c8ko3e6AA-unsplash.jpg" alt="showcase image of a man with a tablet">  
                    <div class="__details">
                        <h3>Kristine Palmer</h3> 
                        <h4>Chef Operation Officer</h4>
                    </div>     
                </div> 
                <div class="team_box">
                    <img src="images/amy-hirschi-K0c8ko3e6AA-unsplash.jpg" alt="showcase image of a man with a tablet">  
                    <div class="__details">
                        <h3>Kristine Palmer</h3> 
                        <h4>Chef Operation Officer</h4>
                    </div>     
                </div>                     
                <div class="team_box">
                    <img src="images/amy-hirschi-K0c8ko3e6AA-unsplash.jpg" alt="showcase image of a man with a tablet">  
                    <div class="__details">
                        <h3>Kristine Palmer</h3> 
                        <h4>Chef Operation Officer</h4>
                    </div>     
                </div> 
                <div class="team_box">
                    <img src="images/amy-hirschi-K0c8ko3e6AA-unsplash.jpg" alt="showcase image of a man with a tablet">  
                    <div class="__details">
                        <h3>Kristine Palmer</h3> 
                        <h4>Chef Operation Officer</h4>
                    </div>     
                </div> 
                <div class="team_box">
                    <img src="images/amy-hirschi-K0c8ko3e6AA-unsplash.jpg" alt="showcase image of a man with a tablet">  
                    <div class="__details">
                        <h3>Kristine Palmer</h3> 
                        <h4>Chef Operation Officer</h4>
                    </div>     
                </div> 
                <div class="team_box">
                    <img src="images/amy-hirschi-K0c8ko3e6AA-unsplash.jpg" alt="showcase image of a man with a tablet">  
                    <div class="__details">
                        <h3>Kristine Palmer</h3> 
                        <h4>Chef Operation Officer</h4>
                    </div>     
                </div> 
                <div class="team_box">
                    <img src="images/amy-hirschi-K0c8ko3e6AA-unsplash.jpg" alt="showcase image of a man with a tablet">  
                    <div class="__details">
                        <h3>Kristine Palmer</h3> 
                        <h4>Chef Operation Officer</h4>
                    </div>     
                </div> 
                <div class="team_box">
                    <img src="images/amy-hirschi-K0c8ko3e6AA-unsplash.jpg" alt="showcase image of a man with a tablet">  
                    <div class="__details">
                        <h3>Kristine Palmer</h3> 
                        <h4>Chef Operation Officer</h4>
                    </div>     
                </div>    
                <div class="team_box">
                    <img src="images/amy-hirschi-K0c8ko3e6AA-unsplash.jpg" alt="showcase image of a man with a tablet">  
                    <div class="__details">
                        <h3>Kristine Palmer</h3> 
                        <h4>Chef Operation Officer</h4>
                    </div>     
                </div> 
                <div class="team_box">
                    <img src="images/amy-hirschi-K0c8ko3e6AA-unsplash.jpg" alt="showcase image of a man with a tablet">  
                    <div class="__details">
                        <h3>Kristine Palmer</h3> 
                        <h4>Chef Operation Officer</h4>
                    </div>     
                </div> 
                <div class="team_box">
                    <img src="images/amy-hirschi-K0c8ko3e6AA-unsplash.jpg" alt="showcase image of a man with a tablet">  
                    <div class="__details">
                        <h3>Kristine Palmer</h3> 
                        <h4>Chef Operation Officer</h4>
                    </div>     
                </div>         
                <div class="team_box">
                    <img src="images/amy-hirschi-K0c8ko3e6AA-unsplash.jpg" alt="showcase image of a man with a tablet">  
                    <div class="__details">
                        <h3>Kristine Palmer</h3> 
                        <h4>Chef Operation Officer</h4>
                    </div>     
                </div> 
                <div class="team_box">
                    <img src="images/amy-hirschi-K0c8ko3e6AA-unsplash.jpg" alt="showcase image of a man with a tablet">  
                    <div class="__details">
                        <h3>Kristine Palmer</h3> 
                        <h4>Chef Operation Officer</h4>
                    </div>     
                </div>    
                <div class="team_box">
                    <img src="images/amy-hirschi-K0c8ko3e6AA-unsplash.jpg" alt="showcase image of a man with a tablet">  
                    <div class="__details">
                        <h3>Kristine Palmer</h3> 
                        <h4>Chef Operation Officer</h4>
                    </div>     
                </div> 
                <div class="team_box">
                    <img src="images/amy-hirschi-K0c8ko3e6AA-unsplash.jpg" alt="showcase image of a man with a tablet">  
                    <div class="__details">
                        <h3>Kristine Palmer</h3> 
                        <h4>Chef Operation Officer</h4>
                    </div>     
                </div> 
                <div class="team_box">
                    <img src="images/amy-hirschi-K0c8ko3e6AA-unsplash.jpg" alt="showcase image of a man with a tablet">  
                    <div class="__details">
                        <h3>Kristine Palmer</h3> 
                        <h4>Chef Operation Officer</h4>
                    </div>     
                </div>                
            </div>
        </div>
        
        <div class="teammap">
            <button class="current one"></button>
            <button class="two"></button>
            <button class="three"></button>
            <button class="four"></button>
            <button class="five"></button>
        </div>
    </div>
</section>