@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
  var content = (ContentModels.ServiceFeatures)Model.Content;
}

<div class="feature_box">
    <i class="@content.Value("serviceFeaturesIcon")"></i> 
    <h4>@content.Value("serviceFeaturesHeading")</h4>
    <p>@content.Value("serviceFeaturesDescription").</p> 
</div> 